/* объявление переменной */

:root {
    --white-color: #FFFFFF;
    --second-background: #F5F4FA;
    --text-main-color: #757575;
    --accent-color: #2196F3;
    --second-text-color: #212121;
    --footer-background: #2F303A;

}


/* основное наследование */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-main-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* logo */

/* шрифт */

.logo {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--accent-color);
}

.logo-footer {
    color: var(--white-color);
}

/* курсор на кнопки */

.filter,
.hero-btn {
    cursor: pointer;
}


.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}



/* header styles */

/* стиль навигации */

/* шрифт */

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

/* контакты в хедере */

/* шрифт */

header .contact {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

/* Ховер и фокус в хедере */

.nav .nav-link:hover,
.contacts .contact:hover,
.nav .nav-link:focus,
.contacts .contact:focus {
    color: var(--accent-color);
}



/* hero styles */

/* герой стиль */

.hero {
    background-color: #2F303A;
}

/* хедлайн герой шрифт */

.hero-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

}

/* кнопка ЗАКАЗАТЬ УСЛУГУ в герое */

.hero-btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

/* advantages styles */

/* шрифт заголовки преимуществ */

.advantages-list-caption {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
}

/* team styles */

/* заголовки второго уровня на главной странице */

.main-page h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* имена сотрудников шрифт */

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* должность сотрудников шрифт */

.team p {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 00.03em;
}

/* фон */

.team {
    background-color: var(--second-background);
}



/* portfolio page styles */

/* filter button styles */
.filter {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    background-color: var(--second-background);
    border: none;
}

.filter:hover,
.filter:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
}

/* заголовки второго уровня на с. портфолио */

.portfolio-page h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
}


/* footer styles */

/* оформление */

footer {
    background-color: var(--footer-background);
    color: var(--white-color);
}


/* географический адрес в футере шрифт */

footer .address {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* контакты в футере шрифт */

footer .contact {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* ховер и фокус в футере */

footer .contact:hover,
footer .contact:focus {
    color: var(--accent-color);
}