/* объявление переменной */

:root {
    --white-color: #FFFFFF;
    --second-background: #F5F4FA;
    --text-main-color: #757575;
    --accent-color: #2196F3;
    --second-text-color: #212121;
    --footer-background: #2F303A;

}


/* основное наследование */
html {
    margin: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: solid 2px tomato;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-main-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* logo */

/* шрифт */

.logo {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--accent-color);
}

.logo-footer {
    color: var(--white-color);
}

/* курсор на кнопки */

.filter,
.hero-btn {
    cursor: pointer;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


/* header styles */

header .container {
    padding: 24px 0 25px 0;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

/* контакты в хедере */

/* шрифт */

header .contact {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

/* Ховер и фокус в хедере */

.nav .nav-link:hover,
.contacts .contact:hover,
.nav .nav-link:focus,
.contacts .contact:focus {
    color: var(--accent-color);
}

.nav .current {
    color: var(--accent-color);
}

/* hero styles */

.hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* хедлайн герой шрифт */

.hero-heading {
    width: 695px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

/* кнопка ЗАКАЗАТЬ УСЛУГУ в герое */

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--white-color);

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
}

.hero-btn:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
    margin-bottom: 94px;
}

/* advantages styles */

h3 {
    margin-bottom: 10px;
}

.advantages-list-caption {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
}

/* заголовки второго уровня на главной странице */

.main-page h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 50px;
}

/* images no gap */

.card-img {
    display: block;
}

/* team styles */

/* имена сотрудников шрифт */

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-top: 30px;
}

/* должность сотрудников шрифт */

.team p {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 00.03em;
}

/* фон */

.team {
    background-color: var(--second-background);
    padding: 94px 0;
    text-align: center;
}

.team-list-card {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    padding-bottom: 30px;
}



/* portfolio page styles */

.portfolio-page .container {
    margin-top: 94px;
    margin-bottom: 94px;
}

/* filter button styles */

.filter {
    /* display: inline-block; */
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    background-color: var(--second-background);
    border-radius: 4px;
    padding: 6px 22px;
    /* margin-bottom: 50px; */
}

.filter:hover,
.filter:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
}

/* заголовки второго уровня на с. портфолио */

.portfolio-page h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
    /* padding: 20px 0 4px 24px; */
    margin: 20px 0 4px 24px;
}

/* .cards {
    padding: 0 30px 30px 0;
} */

.portfolio-card {
    border: 1px solid #EEEEEE;
    width: 370px;
    padding-bottom: 20px;
}

.portfolio-card p {
    margin-left: 24px;
}

/* footer styles */

/* оформление */

footer {
    background-color: var(--footer-background);
    color: var(--white-color);
    padding: 60px 0;
}


/* географический адрес в футере шрифт */

footer .address {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    display: inline-block;
    margin-bottom: 9px;
}

/* контакты в футере шрифт */

footer .contact {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mail {
    display: inline-block;
    margin-bottom: 9px;
}

/* ховер и фокус в футере */

footer .contact:hover,
footer .contact:focus {
    color: var(--accent-color);
}

.logo-footer {
    display: inline-block;
    margin-bottom: 20px;
}